extends layout

block content
	script(src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js")
	script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")
	script(src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js")
	script
		include ./clipboard.js
	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title= title
				h2.subtitle Current page: #{pagination.currentPage}
			if pagination.currentPage > 1
				h1.titleItem.prev
					a.prev(href="/?p=" + (parseInt(pagination.currentPage) - 1) style="display: none;") Previous page
			if pagination.currentPage < pagination.totaPages
				h1.titleItem.next
					a.next(href="/?p=" + (parseInt(pagination.currentPage) + 1) style="display: none;" data-total-pages= pagination.totaPages data-current-page= pagination.currentPage) Next page
	section
		.container-fluid
			.imgContainer
				.grid-sizer
				for elem,ind in thumbs
					if elem
						img.imgfig(src= elem.thumbPath onclick="copyToClipboard(this.src)")
	script.
		var elem = document.querySelector('.imgContainer');

		// element argument can be a selector string
		//   for an individual element
		var iso = new Isotope('.imgContainer', {
			percentPosition: true,
			itemSelector: '.imgfig',
			masonry: {
				// use element for option
				columnWidth: '.grid-sizer',
				// columnWidth: 50,
				gutter: 10,
				fitWidth: true
			}
		});
		var infScroll = new InfiniteScroll('.imgContainer', {
			path: '.next > a',
			append: '.imgfig',
			outlayer: iso,
			prefill: true,
			checkLastPage: true,
			history: 'false'
		});
		imagesLoaded(elem).on( 'progress', function() {
			// layout Isotope after each image loads
			iso.layout();
		});
