extends layout

block content
	h1= title
	for elem,ind in thumbs
		div.imgfig.hvr-grow(href= elem.properURL)
			figure
				a
					img(src= elem.path)
				a(href= captions[ind])
					figurecaption.imgcap= captions[ind]
