extends layout

block content
	h1= title
		if pagination.currentPage >= pagination.totaPages
			a.prev(href="/?page=" + (parseInt(pagination.currentPage) - 1) style="float: left;") Previous page
		if pagination.currentPage <= pagination.totaPages
			a.next(href="/?page=" + (parseInt(pagination.currentPage) + 1) style="float: right;") Next page
	for elem,ind in thumbs
		if elem
			.imgfig
				figure.fig
					a(href= elem.properURL)
						img.img(src= elem.path)
					a.imgcap(href= captions[ind] target="_blank")
						figcaption.imgcap= captions[ind]
					a.imgcap.delete(href= captions[ind] + "?delete=true" target="_blank")
						figcaption.imgcap Delete Image
