extends layout

block content
	.titleContainer
		h1.titleItem.middle= title
		if pagination.currentPage > 1
			h1.titleItem.prev
				a.prev(href="/?page=" + (parseInt(pagination.currentPage) - 1) style="float: left;") Previous page
		if pagination.currentPage <= pagination.totaPages && pagination.currentPage < pagination.totaPages
			h1.titleItem.next
				a.next(href="/?page=" + (parseInt(pagination.currentPage) + 1) style="float: right;" data-total-pages= pagination.totaPages data-current-page= pagination.currentPage) Next page
		else
			h1.titleItem.next
				a.next(style="float: right;" data-total-pages= pagination.totaPages data-current-page= pagination.currentPage)
	.imgcontainer
		for elem,ind in thumbs
			if elem
				a(href= elem.properURL)
					img.imgfig.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width= elem.width height= elem.height data-src= elem.thumbPath)
	script
		include lazyload.js
